
img{
    width:600px;
    margin-right: 100px;
    margin-left: 0px;
    float: left;
    
}
button{
    float: left;
    margin: 30px;
    width: 120px;
    height: 60px;
    border-radius: 40px;
    border: none;

}