img{
    margin-left: 600px;
    margin-top: 100px;
    width: 200px;
}
button{
    border-radius: 30px;
    width: 150px;
    height: 40px;
    position: relative;
    top: 40px;
    right: 180px;
    border: none;
    background-color: aqua;
}
button, text{
    font-size: 20px;
}
boby{
    background-color: lightgray;
}